.collapse {      
    margin: 30px auto;
}

.collapse__about {
    max-width: 1023px;
}

.collapse__lodging {
    width: 50%;    
}

.collapse__title_home {
    font-size: 24px;
    font-weight: 500;
}

.collapse__title_lodging {
    font-size: 18px;
    font-weight: 500;
}

.collapse__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #FF6060;
    color: #FFFFFF;    
    font-size: 24px;    
}

.collapse__header_lodging {
    border-radius: 10px;
}

.collapse__header_about {
    border-radius: 5px;
}

.collapse__arrow {
    object-fit: contain;
    cursor: pointer;
}

.collapse__arrow_up {
    transform: rotate(180deg);
}

.collapse__content {
    position: relative;
    padding: 25px 20px 15px 20px;
    margin-top: -15px;    
    font-size: 24px;
    background-color: #F7F7F7;    
    border-radius: 10px;  
    color: #FF6060;
    z-index: -1;
}

.collapse__content_hidden {
    display: none;
}

.collapse__content_about {
    font-size: 24px;
    font-weight: 400;
}

.collapse__content_lodging {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    .collapse__about {      
        margin: 0 auto 20px;
    }

    .collapse__lodging {      
        margin: 0 auto;
    }    

    .collapse__lodging {
        width: 100%;    
    }

    .collapse__title_home {
    font-size: 13px;    
    }

    .collapse__title_lodging {
        font-size: 13px;
    }
    
    .collapse__arrow {
        width: 20px;
    }

    .collapse__content_about {
    font-size: 12px;    
    }

    .collapse__content_lodging {
    font-size: 12px;    
    }

}