.carousel {
    position: relative;
    max-width: 1240px;
    margin: 0 auto 25px;
}

.carousel__img {    
    width: 100%;
    object-fit: cover;
    max-height: 415px;
    border-radius: 25px;    
}

.carousel__arrow {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.carousel__arrow__right {
    right: 25px;
}

.carousel__arrow__left {
    left: 25px;
}

.carousel__count {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: #FFFFFF;
    font-size: 18px;
}

@media screen and (max-width: 750px) {
    .carousel {
        margin: 0 auto 10px;
    }
    .carousel__arrow {
        top: 45%;    
        width: 20px;
    }

    .carousel__arrow__right {
        right: 15px;
    }
    
    .carousel__arrow__left {
        left: 15px;
    }

    .carousel__count {        
        bottom: 20px;        
    }
}